<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help?before=org.eclipse.equinox.p2.ui.sdk.installationDetails">
         <command
               commandId="com.vionf.submenu.installCommand"
               icon="icons/feature_obj.gif"
               label="Install Third Parties..."
               style="push">
         </command>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.vionf.submenu.installCommand"
            name="Install third parties...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.vionf.submenu.handlers.InstallthirdPartiesHandler"
            commandId="com.vionf.submenu.installCommand">
      </handler>
   </extension>

</plugin>
